@import "@/styles";

.app {
  &__title {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid black;
    border-radius: $border-radius;
    background-color: white;
    padding: 2.5rem;
    color: black;
    &::placeholder {
      font-size: inherit;
      color: $clr-grey-dark;
    }
  }

  &__output {
    display: block;
    border: 1px solid black;
    border-radius: $border-radius;
    background-color: white;
    padding: 2.5rem;
    color: black;
    height: 25rem;
    overflow: auto;
    white-space: pre-wrap;
    user-select: none;
  }

  &__output-header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    &__title {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .app {
      margin-inline: 3rem;

      &__title {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .app {
      margin-inline: 1.5rem;
      &__title {
        font-size: 1.8rem;
      }
    }
  }
}
