$button-primary-color: #1677ff;
$button-color-changing-percentage: 8%;
$border-radius: 5px;
$button-infor-color: #17a2b8;

.container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-inline: 3rem;
  color: black;

  &__title {
    font-size: 3rem;
    font-weight: 300;
    margin-block: 1rem;
    text-align: center;
  }

  &__textarea {
    border-color: 1px solid #d1d1d1;
    border-radius: $border-radius;
    background-color: white;
    padding: 1rem;
    margin-block: 1rem;
    color: black;
  }

  &__button {
    background-color: $button-primary-color;
    margin-block: 1rem;
    padding: 0.6rem;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    border-radius: $border-radius;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: lighten(
        $button-primary-color,
        $button-color-changing-percentage
      );
    }
    &:active {
      background-color: darken(
        $button-primary-color,
        $button-color-changing-percentage
      );
    }

    &--copy {
      background-color: $button-infor-color;
      &:hover {
        background-color: lighten(
          $button-infor-color,
          $button-color-changing-percentage
        );
      }
      &:active {
        background-color: darken(
          $button-infor-color,
          $button-color-changing-percentage
        );
      }
    }
  }
}
